g.gleis>*{
    stroke: black;
}

g.gleis.selected>*{
    stroke: blue;
}

g.gleis>path{
    fill: none;
    stroke-width: 5px;
    vector-effect: non-scaling-stroke;
}

g.gleis>circle{
    fill: white;
    stroke-width: 2px;
    cursor: move;
}

.control {
    cursor: move;
    vector-effect: non-scaling-stroke;
    stroke-linecap: round;
}

.control.outer {
    stroke-width: 14px;
    stroke: black;
}

.control.inner {
    stroke-width: 10px;
    stroke: white;
}

.profile {
    fill: pink;
    stroke: purple;
    stroke-width: 2;
    vector-effect: non-scaling-stroke;
}

#trackprofile {
    fill: none;
    stroke: blue;
    stroke-width: 2;
    vector-effect: non-scaling-stroke;
}

.label {
    font-family: sans-serif;
    font-size: 1px;
}

.label.xaxis {
    text-anchor: middle;
    dominant-baseline: hanging;
}

.label.zaxis {
    text-anchor: end;
    dominant-baseline: middle;
}

.frame {
    fill: none;
    stroke: black;
    stroke-width: 2;
    vector-effect: non-scaling-stroke;
}