body {
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: 50px 80px auto;
    grid-template-areas: 
        "toolbar toolbar"
        "info    main"
        "tree    main";

}

nav {
    grid-area: toolbar;
}

#tree {
    grid-area: tree;
}

#info {
    grid-area: info;
}

#main {
    grid-area: main;
}

#mapcontainer {
    user-select: none;
    overflow: scroll;
    max-width: 70vw;
    max-height: 70vh;
}

#svgmap {
    cursor: grab;
}

#svgmap.drag {
    cursor: grabbing;
}